@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}


body {
    font-family: Montserrat;
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    padding: 20px 190px;
    align-items: center;
}

header .site-title {
    font-size: 0.5em;
}

header .menu-item {
    margin-left: auto;
    display: flex;
}

header .menu-item nav {
    margin-right: 120px;
}

header .menu-button {
    display: none;
}


header ul {
    list-style-type: none;
    display: flex;
}

header ul li a,
.header-action a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 18px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
}

header ul li a:hover,
.header-action a:hover {
    color: brown;
    transition: all 0.2s linear;
}

header .header-action .btn {
    color: white;
    background-color: #ce3333;
}

header .header-action .btn:hover {
    background-color: rgb(30, 29, 29);
}

.slides {
    height: 600px;
}

.slides .slide-item {
    height: 100%;
    display: flex;
    align-items: center;
    background-position: center;

}

.slides .slide-item .slide-content {
    color: white;
    padding-left: 190px;
}

.slides .item1 {
    background-image: url("/images/slider-image1.jpg");
}

.slides .item2 {
    background-image: url("/images/slider-image2.jpg");
}

.slides .item3 {
    background-image: url("/images/slider-image3.jpg");
}

.slides .slide-item .slide-content h4 {
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-bottom: 2%;
}

.slides .slide-item .slide-content p {
    font-size: 2.5em;
    font-weight: bold;
    width: 60%;
    padding-bottom: 4%;
}

.slides .slide-item .slide-content a {
    font-size: small;
}

.btn2 {
    background-color: #ce3333;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    color: white;
}

.btn2:hover {
    background-color: white;
    color: black;
}


.full-height {
    height: auto;
}



.row {
    display: flex;
}

.space {
    padding: 90px 190px;
}

.story .story-desc {
    width: 50%;

}

.story-desc h5 {
    text-transform: uppercase;
    color: silver;
    padding-bottom: 15px;
}

.story-desc h3 {
    font-size: 2em;
    padding-bottom: 40px;
}

.story-desc p {
    color: rgb(118, 118, 118);
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.5;
}

.story .story-img {
    width: 50%;
}

.story-img img {
    width: 100%;
    padding: 20px;
}



.chefs {
    background-color: rgb(229, 229, 229);
}

.chefs h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 2em;
}

.chefs h5 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(200, 200, 200);
    font-weight: 450;
}

.small-space {
    padding: 20px;
}

.small-space h4 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 20px;
}

.small-space p {
    text-align: center;
    text-transform: uppercase;
    color: rgb(200, 200, 200);
    font-weight: bold;
    font-size: 15px;
}

.chef-overlay img {
    width: 100%;
    transition: all 0.3s linear;

}

.chef-overlay {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.681);
    color: aliceblue;
    top: 100%;
    left: 0;
    right: 0;
    height: 100%;
    align-content: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s linear;

}

.chef-overlay:hover .overlay {
    top: 0;
}

.chef-overlay:hover img {
    transform: scale(1.3);
}

.overlay i {
    /* background-color: #ce3333; */
    padding: 20px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: all 0.3s ease-in-out;
}

.overlay i:hover {
    background-color: #ce3333;

}



.menu-title {
    text-align: center;
}

.menu-title h4 {
    font-size: 25px;
    padding-top: 190px;
    padding-bottom: 15px;
}

.menu-title p {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    color: silver;
}


.menu .menu-title {
    text-align: center;
    margin-bottom: 20px;
}


.food {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    width: calc(33.33%);
}

.food img {
    display: block;
    position: relative;
    width: 100%;
    transition: transform 0.5s ease;
}

.food:hover img {
    transform: scale(1.1);
}

.food-desc {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.681);
    padding: 40px;
    font-size: 20px;
    transition: opacity 0.5s ease, bottom 0.6s ease;
    color: white;
    display: flex;
    justify-content: space-between;
}

.food-desc h3 {
    text-align: right;
}

.food:hover .food-desc {
    bottom: 0;
    opacity: 1;
}

.fine {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    color: silver;
}



















@media(max-width:500px) {
    header {
        padding: 12px;
        display: block;
        height: 40px;
        overflow: hidden;
    }

    header .site-title {
        display: flex;
    }

    header ul {
        display: block;
    }

    header .menu-item nav {
        margin: 0px;
    }

    header .menu-item {
        /* display: none; */
        display: block;
        /* background-color: #ce3333; */
        text-align: center;
    }

    header ul li {
        /* background-color: aqua; */
        display: block;
    }

    header .menu-button {
        margin-left: auto;
        display: block;
        font-size: 1.8em;
    }

    .slides .slide-item .slide-content {
        padding-left: 12px;
    }

    .slides .slide-item .slide-content p {
        width: 100%;
        font-size: 1.8em;
        padding-top: 15px;
        padding-bottom: 40px;
    }

    .row {
        display: block;
    }

    .full-width {
        width: 100% !important;
    }

    .space {
        padding: 15px;
    }

    .food {
        display: block;
        width: 100%;
    }


}